.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}

.auth-form {
  background: white;
  padding: 2rem;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* ADD THIS */
}

.auth-button {
  width: 100%;
  padding: 0.7rem;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #125ea8;
}

.auth-switch {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.auth-switch span {
  color: #1976d2;
  cursor: pointer;
  font-weight: 600;
}

.password-wrapper {
  position: relative;
  width: 100%; 
}

.password-wrapper input {
  padding-right: 45px; 
}

.toggle-password {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  user-select: none;
}